.ant-segmented .ant-segmented-item-selected {
    background: #000000 !important;
    color: #FFFFFF !important;
    border-radius: 16px !important;
}

.ant-segmented {
    background: #F4F8F9 !important;
}