@font-face {
  font-family: 'Sora';
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'Sora';
  src: url('../assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
} */


@font-face {
  font-family: 'Sora';
  src: url('../assets/fonts/Sora-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body{
    font-family: 'Sora', sans-serif;
}