.ant-collapse-header{
    display:flex !important;
    align-items:center !important;
    min-height:100px !important;
}


.ant-collapse-item-active {
    background: #0A0B11 !important;

    .ant-collapse-header{
        border-radius:20px !important;
    }
}

.ant-collapse-item-active .ant-collapse-header {
    color: #FFFFFF !important;
}

.ant-collapse-item{
    min-height:100px !important;
    border-radius:20px !important;
}

:where(.css-dev-only-do-not-override-1v613y0).ant-collapse>.ant-collapse-item >.ant-collapse-header:focus-visible{
    outline:none !important;
}